<script defer src="/js/admin/animals.js"></script>

{{#each allAnimals}}
<div class="card" style="width: 12rem;">
  <img src="{{photo}}" class="card-img-top" alt="photo{{name}}">
  <div class="card-body">
    <h5 class="card-title">{{name}}</h5>
    <button data-del="{{id}}" class="btn btn-danger" type="button">Удалить</button>
    <button data-edit="{{id}}" data-bs-toggle="modal" data-bs-target="#staticBackdrop" class="btn btn-primary"
      type="button">Редактировать</button>
  </div>
</div>
{{/each}}
