{{#each allAnimals}}
<li>Название животного: {{name}}, Id: {{id}}, Фото: {{photo}}</li>
{{!-- <a href="/admin/animals/{{id}}/edit" class="btn btn-primary">Редактировать</a> --}}
{{!-- <a href="/admin/animals/{{id}}" class="btn btn-danger">Удалить</a> --}}
<button data-del="{{id}}" class="btn btn-danger" type="button">Удалить</button>
<button data-bs-toggle="modal" data-bs-target="#staticBackdrop" data-edit="{{id}}" class="btn btn-primary"
  type="button">Редактировать</button>
{{/each}}
