<script defer src="/js/admin/animals.js"></script>

{{#each allAnimals}}
<div class="card" style="width: 18rem; margin-right: 10px;">
  <img src="{{photo}}" class="card-img-top" style="width: 18rem; margin-right: 10px;" alt="photo{{name}}">
  <div class="card-body">
    <h5 class="card-title">{{name}}</h5>
    <button data-del="{{id}}" class="btn btn-danger" type="button">Удалить</button>
    <button data-edit="{{id}}" data-nam="{{name}}" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
      class="btn btn-primary" type="button">Редактировать</button>
    <form ref='uploadForm' id='uploadForm-{{id}}' action='/admin/animals/addphoto/{{id}}' method='post'
      encType="multipart/form-data">
      <input type="file" name="sampleFile" />
      <input id="photo-{{id}}" class="uploadPhoto" type="submit" value="Upload!" />
    </form>
  </div>
</div>
{{/each}}
