<script defer src="/js/admin/tariff.js"></script>

<div class="container">
  <div class="d-flex">
    <div class="form__output mr-2 bg-light" style="width: 1000px;" id="list-tariff-div">
      <div class="row mt-3">
        <div class="col bg-secondary text-center text-white">Название</div>
        <div class="col bg-secondary text-center text-white">Описание</div>
        <div class="col bg-secondary text-center text-white">Цена</div>
        <div class="col bg-secondary text-center text-white">Доступные действия</div>
      </div>
      {{#each allTariff}}
       <div class="row mt-4">
        <div class="col text-center ">{{name}}</div>
        <div class="col text-center ">{{description}}</div>
        <div class="col text-center ">{{price}}</div>
      <div class="col text-center">
          <button data-edit="{{id}}" data-bs-toggle="modal" data-bs-target="#staticBackdrop" style="width: 10rem;" class="btn btn-primary"type="button">Редактировать</button>
          <button data-del="{{id}}" class="btn btn-danger" type="button" style="width: 10rem;">Удалить</button>
      </div>
      </div>
      {{/each}}

    </div>

    <div class="form__create text-center mt-3">
      <form id="tariff-form" action="/admin/tariff/" class="bg-secondary text-dark p-3">
        <div class="mb-3">
          <label class="form-label text-white">Название</label>
          <input type="text" name="name" class="form-control" minlength="3" autocomplete="off" autofocus>
        </div>
        <div class="mb-3">
          <label class="form-label text-white">Описание</label>
          <input type="text" name="description" class="form-control" autocomplete="off">
        </div>
        <div class="mb-3">
          <label class="form-labe text-white">Ценник</label>
          <input type="text" name="price" class="form-control" autocomplete="off">
        </div>
        <div id="error-div"></div>
        <div>
          <button type="submit" class="btn btn-dark">Добавить</button>
      </form>
    </div>
  </div>

</div>

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Редактирование</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <form id="edit-form-tariff" action="/admin/tariff/">
          <div class="mb-3">
            <label class="form-label">Название</label>
            <input type="text" name="name" class="form-control" minlength="3" autocomplete="off" autofocus>
          </div>
          <div class="mb-3">
            <label class="form-label">Описание</label>
            <input type="text" name="description" class="form-control" autocomplete="off">
          </div>
          <div class="mb-3">
            <label class="form-label">Ценник</label>
            <input type="text" name="price" class="form-control" autocomplete="off">
          </div>
          <div id="error-div"></div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
            <button type="submit" class="btn btn-primary">Редактировать</button>
        </form>

      </div>
    </div>
  </div>
</div>
