<div class="mt-3"  style="width: 100%; display: flex; justify-content: center">
      <div class="card" style="width: 36rem;">
        <h2 class="card-img-top" alt="...">{{head}}</h2>
        <div class="card-body">
          <h3>Описание:</h3>
          <p class="card-text">{{tariff.description}}</p>
          <h4>Цена: {{tariff.price}}</h4>
          <br>
          {{!-- <h3>Для детей:</h3>
          <p class="card-text">{{tariffChild.description}}</p>
<<<<<<< HEAD
          <h4>Цена: {{tariffChild.price}}</h4> --}}
          {{!-- <img src="/public/img/img_2.svg"> --}}
=======
          <h4>Цена: {{tariffChild.price}}</h4>
>>>>>>> deb0695c080e262d6407e5dbf63b74f6876013de
        </div>
      </div>
</div>
